<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>確認画面</title>
</head>
<h1>確認画面</h1>
<a>こちらの内容で口コミ登録させていただきます。
	<br>ご確認ください。</a>
<body>
	<style>
	body{background-color: rgb(255, 255, 210);color: rgb(70, 9, 0);
	font-family: '游明朝 Medium', serif;text-align:center;background:url("https://i.pinimg.com/originals/20/de/17/20de17c40a95ddbbb44418539748ec5e.png");
	background-repeat: no-repeat;
	background-size: 100%;}
	
	table{
  border-collapse:  collapse;
 
}
</style>
<form action="/update" method="post">	
<table border="1">
    <input type="hidden" name="namae" th:value="${comments.namae}">
	<input type="hidden" name="name" th:value="${comments.eat.name}">
	<input type="hidden" name="comment" th:value="${comments.comment}">
	<tr>
	<th>ユーザー名</th>
	<td>[[${comments.namae}]]</td>
	</tr>
	
	
	<tr>
	<th>店名</th>
	<td>[[${comments.eat.name}]]</td>
	</tr>
	
	
	<tr>
	<th>コメント</th>
	<td>[[${comments.comment}]]</td>
	</tr>
</table>
	<input type="hidden"name="eatid" th:value="${comments.eat.id}">
	<input type="hidden"name="bango" th:value="${comments.bango}">
<input type="submit" value="投稿">

</form>
</body>
</html>