<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>確認画面</title>
</head>
<h1>確認画面</h1>
<body>
<form action="/update" method="post">	
<table border="1">


	<input type="hidden" name="namae" th:value="${comments.namae}">
	<input type="hidden" name="name" th:value="${comments.name}">
	<input type="hidden" name="comment" th:value="${comments.comment}">
	<tr>
	<th>ユーザー名</th>
	<td>[[${comments.namae}]]</td>
	</tr>
	
	
	<tr>
	<th>店名</th>
	<td>[[${comments.name}]]</td>
	</tr>
	
	
	<tr>
	<th>コメント</th>
	<td>[[${comments.newcomment}]]</td>
	</tr>
</table>
	<input type="hidden"name="eatid" th:value="${comments.eatid}">
	<input type="hidden"name="bango" th:value="${comments.bango}">
<input type="submit" value="投稿">

</form>
</body>
</html>