<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>店舗一覧</title>
</head>
<body>
<h1>店舗一覧</h1>

<table border="1">
			<tr>
				<th>店舗名</th>
				<th>地域</th>
				<th>ジャンル</th>
				<th>詳細</th>
				<th>点数</th>
				<th>リンク</th>
			</tr>
			<tr th:each="eat:${eats}">
				<td th:text="${eat.name}"></td>
				<td th:text="${eat.area}"></td>
				<td th:text="${eat.genre}"></td>
				<td th:text="${eat.detail}"></td>
				<td th:text="${eat.star}"></td>
				
				<td>
			<form th:action="kutikomi" method="get">
				<!--<input type="hidden" name="id" th:value="${eat.id}">-->
			<input type="hidden"name="eatid" th:value="${eat.id}">
				<input type="submit" value="口コミ">
			</form>
			
			
		</td>
				<td th:text="${eat.link}"></td>
				
				
			</tr>
			

			
		</table>
</body>
</html>