<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>口コミ一覧</title>
</head>
<body>
<h1>口コミ一覧</h1>


	<table border="1">
		<tr>
			<th>店名</th>
			<td>[[${comments.id}]]</td>
		</tr>
		<tr>	
			<th>ユーザー名</th>
			<td>[[${comments.namae}]]</td>
		</tr>
		<tr>
			<th>コメント</th>
			<td>[[${comments.comment}]]</td>
		</tr>
	</table>
	
	
<form th:action="write" method="post">	
	<input type="hidden"name="eatid" th:value="${comments.eatid}">
	<input type="hidden"name="bango" th:value="${comments.bango}">
	<input type="hidden"name="namae" th:value="${comments.namae}">
	<input type="text"name="newcomment">
	<br>
	<input type="submit"value="確認">
	
</form>
</body>
</html>