<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>口コミ一覧</title>
</head>
<body>
<h1>口コミ一覧</h1>


	<table th:each="comment:${comments}" border="1">
		<tr>
			<th>店名</th>
			<td>[[${comment.eat.name}]]</td>
		</tr>
		<tr >	
			<th>ユーザー名</th>
			<td>[[${comment.namae}]]</td>
		</tr>
		<tr>
			<th>コメント</th>
			<td>[[${comment.comment}]]</td>
		</tr>
	</table>	
	
<form th:action="write" method="post">	
	<input type="hidden"name="eatid" th:value="${comments[0].eat.id}">
	<input type="hidden"name="bango" th:value="${comments[0].bango}">
	<input type="hidden"name="namae" th:value="${comments[0].namae}">
	<input type="text"name="newcomment">
	<br>
	<input type="submit"value="確認">
	
</form>
</body>
</html>