<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>register</title>
</head>
<body>
	
	<style>
	body{background-color: rgb(255, 255, 210);color: rgb(70, 9, 0);
	background:url("https://i.pinimg.com/originals/20/de/17/20de17c40a95ddbbb44418539748ec5e.png");
	background-repeat: no-repeat;
	background-size: 100%;
	
	}
	main{font-family: '游明朝 Medium', serif;}
	
	.centering {
    align-items: center;
    display: flex;
    justify-content: center;
}</style>


	<header>
		<div class="centering" >
		<h1>新規登録</h1>
		</div>
	</header>
	<main>
	<div class="centering" >
		<div th:each="error : ${errors}" align="center" style="color: red;">
			<span>[[${error}]]</span><br>
		</div>
		<form action="/account" method="post">
			<table border="1">
				<tr>
					<th>ユーザーID</th>
					<td>
						<input type="text" name="bango" th:value="${bango}">
					</td>
				</tr>
				<tr>
					<th>名前</th>
					<td>
						<input type="text" name="namae" th:value="${namae}">
					</td>
				</tr>
			
				<tr>
					<th>パスワード</th>
					<td>
						<input type="text" name="password" th:value="${password}">
					</td>
				</tr>
			</table>
			<div class="centering" >
				
			<button>登録</button>
			</div>
		</form>
		</div>
	</main>
</body>
</html>